body{
   background-color: black;
}

#myvideo{
 position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    min-height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: .8;
}

.filtro {
  
}
#text-box{
    background-color: black;
    opacity:;
    color: white;
    padding-left:5%;
    padding-top:10%;
    padding-right:30%;
    height:100%;
}

.btn{
    margin:3%;
    height:6%;
    width:100px;
    border-radius:15px;
    background-color:grey;
    border:white;
    color: white;
 -webkit-box-shadow: 10px 10px 5px 0px rgba(255,255,255,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(255,255,255,1);
box-shadow: 10px 10px 5px 0px rgba(255,255,255,1);
}
@media screen and (min-width: 600px){
.empezar{
    position: static;
    margin-top:20%;
    margin-left:90%;
    background-color: white;
    height:50px;
    width: 50px;
    padding:10px;
    border-radius:50%;
    transition:1s;
    transition-delay: 1s;
    }
}

@media screen and (max-width: 600px) {
  #text-box {
    font-size:18px;
  }
}


.btn:hover{
    background-color: black;
    color: white;
}

.filtro2 {
    position:relative;
    background-color: black;
    height: 100%;
        
}

.filtro3 {
    height: 100%;
    width: 100%;
    background-image: url(Sivir_Splash_8.jpg);
   background-size:cover;
    background-attachment:fixed;
}

.filtro4 {
    height: auto;
    width: 100%;
    
    
}

.filtro5 {
    
    height:100%;
    background-image: url(korra.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
      background-size: cover;
}




/*collums css*/

 #pic1, #pic2, #pic3{
 margin: auto;
        width:150px;
        height: auto;
    }
    
    img{
      cursor:pointer;
    }
    
    #p2, #p4, #p6{
       display:none;
        background:;
    }
    
    
    .main{
        margin-bottom: auto;
        padding-top:10%;
        
         transition:2s;
          display:flex; 
     
         
       
    }
    
    .main > div:nth-child(odd){
        background-color:#ff66d9;
          padding: 1em;       
        
    }    
    .box1 {       
  background-image: -webkit-linear-gradient(top left,  #cc33ff,  #ff0066);
  background-image: -o-linear-gradient(top left,  #cc33ff,  #ff0066);
  background-image: linear-gradient(to bottom right,  #cc33ff,  #ff0066); 
       border-radius:9px;
        color: white;
          padding: 1em;       
    }
    .box{
         background-image: -webkit-linear-gradient(top left, #ff66d9,  #ff1aff);
         background-image: -o-linear-gradient(top left, #ff66d9,  #ff1aff);
         background-image: linear-gradient(to bottom right, #ff66d9,  #ff1aff); 
         color: white;
        
    }
    
    .box2{
           background-image: -webkit-linear-gradient(top left, #c266ff,  #330066);
           background-image: -o-linear-gradient(top left, #c266ff,  #330066);
           background-image: linear-gradient(to bottom right, #c266ff,  #330066); 
       color: white;
    }
    
    
    .box2, .box {
    
    border:black 30px solid;    
               border-radius:9px;
    }
    figure, img{
        justify-content: center;
     display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    }
    h3{
        text-align: center;
    }
    p {
        text-align: center;
        font-size: 20px;
    }
    
    @media screen and (max-width: 1000px){
        
        .filtro2{
            height: auto;
        }
        
        .box2, .box {
    
    border: 0px solid;    
               border-radius:9px;
    }
        
        .main{
            transition:2s;
          display:grid; 
         
              padding:2%;
    }
    }












/*contactos*/

.form{
  background: linear-gradient(to bottom left, #00ffff 0%, #0066cc 100%);
    color: white;
    margin-top:5%;
     margin-bottom:5%;
     margin-left: auto;
    margin-right: auto;
    width:80%;
    border-radius:30px;
    -webkit-box-shadow: 15px 13px 19px -4px rgba(0,0,0,0.57);
-moz-box-shadow: 15px 13px 19px -4px rgba(0,0,0,0.57);
box-shadow: 15px 13px 19px -4px rgba(0,0,0,0.57);
}

.form-row{
    justify-content: center;
}

.form-group{
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
.form-group2{
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    text-align:;
}

.button {
   position: relative;
    cursor: pointer;
    border: 0;
    display: table;
    font-size: 12px;
    padding: 17px 44px;
    font-family:;
    text-transform: uppercase;
    background: #fff;
    border-radius: 25px;
    color: #744efd;
    margin: auto;
    transition: all 0.5s;
    z-index: 0;
    outline: none;
     border:white 2px solid;
}

.button:hover {
    background-color: rebeccapurple;
    color: white;
    border:white 2px solid;
}

h1 {
    text-align: center;
}